
.achiev-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.achiev-card {
  padding: 25px;
  border-radius: 20px;
  background: #232425;
  transition: 0.3s;

  cursor: pointer;
}

.achiev-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.achiev-card h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #e2e8f0;
}

.achiev-card ul{
  margin-inline-start: 15px;
}

.achiev-card ul li {
  font-size: 0.95rem;
  color: #bec8d5;
  line-height: 1.6;
}

.achiev-card button {
    margin-top: 30px;
}