/* ===== SKILLS ===== */
.skill {
  margin: 25px 0;
}

.skill p {
  font-weight: 500;
}

.skill small {
  display: block;
  font-size: 0.85rem;
  color: #94a3b8;
  margin-bottom: 6px;
}

.bar {
  width: 100%;
  height: 12px;
  background: #3f3f3f;
  border-radius: 10px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  width: 0;
  background: linear-gradient(45deg, #e0b183, #b6891e);
  transition: 2s;
}

.sub {
  margin-top: 40px;
}

.desc {
  font-size: 0.9rem;
  color: #94a3b8;
  margin-bottom: 15px;
}